html, body {
  height: 100%;
}
#page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  #content {
    main {
      .jumbotron {
        h1 {
          font-size: 3rem;
        }
        p:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}
