html {
  height: 100%;
}
body {
  font: 400 16px/1.8 'Lato', sans-serif;
  height: 100%;
}
#page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  #content {
    main {
      .jumbotron {
        h1 {
          font: 700 3rem/1.1 'Lato', sans-serif;
        }
        p:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}
