$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$line-height-base: 1.75;
$black: #202428;
$body-bg: lighten($black,84%);
$body-color: $black;
$enable-rounded: false;
$enable-shadows: true;
